/* You need to create the rest of styles for the layout shown */

.options {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

b {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    margin-right: 550px;
}

select {
    float: right;
    margin-right: 550px;
}

article {
    display: flex;
    flex-direction: row;
}